/* Header */
.header {
  background-color: var(--bs-blue);
  height: 5vh;
}

/* Content */
.content {
  height: 95vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Task list */
li {
  list-style: none;
}

.task-element {
  display: flex;
  border-bottom: 1px var(--bs-gray-200) solid;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.task-checkbox {
  padding: 0 0.5rem;
  justify-self: center;
}

#task-check {
  border-radius: 1rem;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  border-color: var(--bs-gray-600);
}

.task-details {
  cursor: pointer;
}

[data-complete="true"] {
  text-decoration: line-through;
}

.task-title {
  font-size: 16px;
}

.task-description {
  font-size: 12px;
  color: #6c757d;
}
